{% extends 'base.html' %}

{% block content %}
    <div>
        <img src="{{ course.image.url }}" height="250" width="340">
        <h2>{{ course.course_title }}</h2>
        <p>{{ course.description }}</p>
        <p>{{ course.category }}</p>
        <p>R$ {{ course.price }}</p>

        {% if request.user in course.students.all %}
             <a href="{% url 'unroll_course' course.pk %}" class="btn btn-success">unroll</a>
        {% else %}
            <a href="{% url 'enroll_to_course' course.pk %}" class="btn btn-success">enroll</a>
        {% endif %}
        <a href="{% url 'home' %}" class="btn btn-success"><- back</a>
        <p>students enrolled : {{ course.students.count }}</p>

        <div class="mt-7 mb-7 comments-section">
            <h2>Comments</h2>

            {% for comment in comments %}
                <div class="container border mb-3">
                        <p>username : {{ comment.username }}</p>
                         <p class="border container">{{ comment.body | linebreaksbr }}</p>

                        {% if request.user == comment.comment_author %}
                            <p><a href="{% url 'update_course_comment' course_id=course.pk comment_id=comment.id %}">edit</a> | <a href="{% url 'delete_course_comment' course_id=course.pk comment_id=comment.id %}">delete</a></p>
                        {% else %}
                            <p></p>
                        {% endif %}
                </div>
            {% empty %}
                <p>No comments found</p>
            {% endfor %}


            <div class="mt-5">
                <h2>Add a comment</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="btn btn-primary mb-5" value="add comment">
                </form>
            </div>
        </div>


    </div>

{% endblock %}