{% extends 'base.html' %}

{% block content %}
  {% if query %}
    <div>
      <h2>
        {% with results.count as total_results %}
          Found {{ total_results }} result{{ total_results|pluralize }}
        {% endwith %}
      </h2>
      <div class="list-course-all">
        {% for c in results %}
          <div class="container border mt-3 mb-3 course">
            <p>
              <img src="{{ c.image.url }}" width="150" height="200">
            </p>
            <h3><a href="{% url 'detail_course' c.pk %}">{{ c.course_title }}</a></h3>
            <h3>R$ {{ c.price }}</h3>
          </div>

        {% empty %}

        {% endfor %}
      </div>
      <form action="{% url 'search' %}" class="form-inline" method="get">
        <input type="submit" value="back" class="btn btn-success">
      </form>
    </div>

  {% endif %}



{% endblock %}