{% extends 'base.html' %}

{% block content %}
  {% if query %}
    <div>
      <h2>
        {% with results.count as total_results %}
          Found {{ total_results }} result{{ total_results|pluralize }}
        {% endwith %}
      </h2>
      <div class="list-course-all">
        {% for c in results %}
          <div class="container border mt-3 mb-3 course">
            <a href="">
              <h3>{{ c.course_title }}</h3>
            </a>
            <p>
              <img src="{{ c.image.url }}" width="150" height="200">
            </p>
            <h5>author : {{ c.course_author }}</h5>
            <h5>type : {{ c.category }}</h5>
          </div>

        {% empty %}

        {% endfor %}
      </div>
      <form action="{% url 'search' %}" class="form-inline" method="get">
        <input type="submit" value="back" class="btn btn-success">
      </form>
    </div>

  {% endif %}



{% endblock %}